<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubRepository.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B211903822FFF5CE00B3BA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B211904C22FFF5D000B3BA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B211905722FFF5D000B3BA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
